@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


.img1{
  animation: ani1 20s infinite;
}
.img2{
  animation: ani2 20s infinite;
}
.img3{
  animation: ani3 20s infinite;
}
.img4{
  animation: ani4 20s infinite;
}
.img5{
  animation: ani5 20s infinite;
}

@keyframes ani1 {
  0%{
    opacity: 0;
  }
  9%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  19%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
}
@keyframes ani2 {
  20%{
    opacity: 0;
  }
  29%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  39%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
}
@keyframes ani3 {
  40%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }
  59%{
    opacity: 0;
  }
  60%{
    opacity: 0;
  }
}
@keyframes ani4 {
  60%{
    opacity: 0;
  }
  
  70%{
    opacity: 1;
  }

  79%{
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
}
@keyframes ani5 {
  80%{
    opacity: 0;
  }
  
  90%{
    opacity: 1;
  }
  91%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.txt1{
  animation: t1 2s infinite;
}
.txt2{
  animation: t2 2s infinite;
}
.txt3{
  animation: t3 2s infinite;
}
.txt4{
  animation: t4 2s infinite;
}
.txt5{
  animation: t5 2s infinite;
}

@keyframes t1 {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #617e71;
}
 
::-webkit-scrollbar-track {
  background-color: #f5f5f1;
}
@keyframes t2 {
  20%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
}

@keyframes t3 {
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
}

@keyframes t4 {
  60%{
    opacity: 0;
  }
  70%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
}

@keyframes t5 {
  80%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}